@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-herbal: #2F6F4E;
  --color-beige: #F5EFE6;
  --color-gold: #C9A227;
}

@layer base {
  body {
    @apply bg-white text-gray-800 antialiased;
  }
}

html {
  scroll-behavior: smooth;
}
